<a class="btn btn-embossed btn-primary" href="#/admin">Admin</a>
  <div class="container">
      <div class="user-standby-header">
          <div id="logo"3>Front-In BH</div>
          <h1>Auto Check-In</h1>
      </div>
      <div class="user-standby-content">
          <div class="half">
              <h2>use o seu QR Code</h2>
              <h3>Basta enquadrar na câmera ;)</h3>
                  <div class="qrcode">
                      <qr-scanner width="400" height="300" ng-success="qrCheckin(data)" ng-error="onError(error)" />
                      <div id="outdiv"></div>
                  </div>
              </div>
          </div>
          <div class="half">
              <h2><em>ou</em>     seu e-mail</h2>
              <h3>Digite seu e-mail à moda antiga e pressione <strong>ENTER</strong>!</h3>
                  <div class="inputemail">
                      <form ng-submit="mailCheckin()">
                          <input ng-model='email' type="text" value="" placeholder="É o seu e-mail utilizado na inscrição, viu?" class="form-control input-hg">
                      </form>
                  </div>
              </div>
          </div>
       <div class="user-standby-footer">

      </div>
  </div>
  <!-- /.container -->

  <a href="#_" class="lightbox" id="img1" ng-show='lightboxSuccess'>
    <div class="alertmsg">
      <img gravatar-src="attendee_email" gravatar-size="100">
      <h4>Iuhul, {{attendee_name}}!</h4>
      <p>Aguarde a impressão e retire sua etiqueta na impressora ao lado!</p>
    </div>
  </a>

<a href="#_" class="lightbox" id="img1" ng-show='lightboxError'>
  <div class="alertmsg-error">
    <h4>{{lightboxErrorMsg}}</h4>
  </div>
</a>
<!-- /.lightbox alert -->
