<div id="topo">
<h1>Self-checkin Eventick</h1>
<h2 id="totalizador">inscrições total/confirmadas: <span></span></h2>
<h3>Desenvolvido por GDG São Paulo </h3>
<button class="btn-outline" onclick="newAttendee();"> Nova credencial </button>
<img src="/img/logo-eventick.png" alt="" id="logo" />
</div>


<div ng-view></div>

<!-- <script src="/socket.io/socket.io.js"></script> -->
<!-- <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> -->

<!-- <script src="/javascripts/DYMO.Label.Framework.latest.js" type="text/javascript" charset="UTF-8"></script> -->

<!-- <script src="/js/admin.js"></script> -->

<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
<script type="text/javascript" src="https://apis.google.com/js/api.js?onload=loadPicker"></script>
